$react-blue: #40CCFF;

#certificate-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    
    .certificate-component {
        min-width: 40%;
        height: 45%;
        flex-direction: column;
        border-radius: 2rem;
        padding: 1rem;
    
        .picture {
            background-position: center;
            background-size: cover;
            height: 100%;
            position: relative;
            border-radius: 1rem 1rem 0 0;
        }

        .footnote {
            justify-content: flex-start;
            position: relative;
            background: $p-color;
            border-top: 1px solid $h-color;
            border-radius: 0 0 1rem 1rem;

            .icon {
                height: 5vh;
                width: 6vh;
                background-color: $p-color;
                border-radius: 0 0 0 1rem;
                background-size: cover;
                background-position: center;
            }

            .title {
                width: 100%;
                justify-content: center;
                align-items: center;
                font-size: 2.5rem;
            }
        }
    }
}


.popup-overlay {
    background-color: transparentize($color: $flag-black, $amount: 0.3);

    .popup-content {
        width: 80vh;
        height: 60vh;
        background-color: $p-color;
        border-radius: 2rem;
    
        .slick-slider {
            height: 60vh;
            padding: 2rem;
    
            .slick-arrow::before {
                font-size: 3rem;
                position: absolute;
                display: flex;
                align-items: center;
                color: $p-color;
                height: 60vh;
                width: auto;
    
            }
    
            .slick-prev::before {
                background-color: $h-color;
                left: -25px;
                top: -23vh;
            }
    
            .slick-next::before {
                background-color: $flag-blue;
                top: -35vh;
            }
        }
    
        .carouselitem {
            display: flex;
            justify-content: center;  
    
            .carouselpic {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: auto;
                height: 45vh;
                border: 1px solid $flag-black;
            }

            h2 {
                font-family: $font-h;
                color: $h-color;
                text-align: center;
            }

            p {
                font-family: $font-p;
                color: $flag-black;
                text-align: center;
            }

        }
    
    }
}

@media (max-width: 799px){ 
    #certificate-container {
        .certificate-component {
            height: auto;
            max-width: 100%;
            background: $p-color;
            width: 80%;

            .picture {
                display: none;
            }

            .footnote {
                border: 0;
                justify-content: space-between;
                white-space: nowrap;

                .icon {
                    border-radius: 0;
                    height: 2.5rem;
                    width: 2.5rem;
                }

                .title {
                    width: 80%;
                }
            }
        }
    }

    .popup-overlay {
        .popup-content {
            width: 98vw;
        }
    }
}
