#certificate-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    
    .certificate-component {
        min-width: 40%;
        height: 45%;
        flex-direction: column;
        border-radius: 2rem;
        padding: 1rem;
    
        .picture {
            background-position: center;
            background-size: cover;
            height: 100%;
            position: relative;
            border-radius: 1rem 1rem 0 0;
        }

        .footnote {
            justify-content: flex-start;
            position: relative;
            background: $p-color;
            border-top: 1px solid $h-color;
            border-radius: 0 0 1rem 1rem;

            .icon {
                height: 5vh;
                width: 6vh;
                background-color: $h-color;
                border-radius: 0 0 0 1rem;
                background-size: cover;
            }

            .title {
                width: 100%;
                justify-content: center;
                align-items: center;
                font-size: 2.5rem;
            }
        }
    }
}



.popup-content {
    min-width: 80vw;
    min-height: auto;
    background-color: lawngreen;

    .slick-slider {
        width: 80vw;
        height: auto;
        padding: 2rem;
    }

    .carouselpic {
        width: 100%;
        height: auto;
    }
}
