#recomendations {
    justify-content: flex-start;
    
    ul {
        flex-direction: column;
        
        li {
            flex-direction: column;
        }
    }

    .mobile {
        display: none;
    }

    .jobs-container {
        width: 48%;

        li {
            margin-bottom: 0.5rem;

            button {
                background-color: transparent;
                flex-direction: column;
                border: 0.2rem $h-color solid;
                border-radius: 0.5rem;

                * {
                    padding: 0.5rem;
                }
            }
        }
    }
    
    .recs-container {
        width: 48%;
        padding-left: 1rem;
        border: 0.2rem $flag-blue solid;
        border-radius: 0.5rem;
        background-color: $flag-black;

        .position {
            font-size: 2rem;
        }

        h1 {
            color: $flag-blue
        }

        li {
            padding: 1rem 0;
        }
    }
}

@media (max-width: 799px){ 
    #recomendations {
        .jobs-container {
            width: 80%;
            height: auto;
        }

        .desktop {
            display: none
        }

        .mobile {
            display: flex;
        }


    }

    .popup-overlay {
        .popup-content {
            width: 90%;
            background: $flag-black;
            border: 0.2rem $flag-blue solid;
            border-radius: 0.5rem;

            .recs-container {
                width: 80%;
                padding-left: 1rem;
                font-family: $font-p;
        
                .position {
                    font-size: 2rem;
                }
        
                h1 {
                    color: $flag-blue;
                    font-family: $font-h;
                }
        
                li {
                    padding: 1rem 0;
                }

                p {
                    color: $p-color;
                }
            }
        }
    }
}