#name-component {
    position: absolute;
    height: $name-height;
    white-space: nowrap;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
    background-color: transparent;

    h1, h2 {
        background-color: transparent;
        z-index: 2;
        padding-left: 2rem;
        text-shadow: 0 0 2rem $h-color;
    }

    h1 {
        color: rgb(255, 51, 0);
        padding-top: 2rem;
        font-size: 4rem;
        font-family: $font-name;
    }

    h2 {
        font-size: 1.5rem;
    }

    #name-flag {
        position: absolute;
        background-color: transparent;
        height: 100%;
        width: 140%;
        background: linear-gradient($flag-black 0%, 20%, $flag-blue 20%, 40%, $flag-black 40%, 60%, $flag-blue 60%, 80%, $p-color 80%);
        clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%, 23% 60%);
    }
}