.screenitem-component {
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
    padding: 5rem;
    background-size: cover;
    background-position: top;
    border: $p-color solid 1px;

    .background-color {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background: radial-gradient(circle at 40% 40%, transparent, 50%, $flag-black 80% );
    }
}