.screenitem-component {
    min-height: 90vh;
    min-width: 100%;
    position: relative;
    margin: 5rem;

    .background-color {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-color: $screenitem-color;
    }
}