#sidebar-component {
    flex-direction: column;

    * {
        flex-direction: inherit;
        white-space: nowrap;
    }

    #top-separator {
        height: $name-height;
    }

    ul {
        justify-content: space-around;
        height: 100%;
    }
}