#sidebar-component {
    flex-direction: column;
    width: 10%;
    padding-right: 1rem;
    background-color: $flag-black;

    * {
        flex-direction: inherit;
        white-space: nowrap;

        li {
            width: 70%;
            transition: width 0.2s;

            a {
                text-decoration: none;
            }
    
            h4 {
                padding: 1rem 0 1rem 0.2rem;
                background-color: $p-color-off;
                clip-path: polygon(0% 0, 87% 0%, 100% 50%, 87% 100%, 0% 100%);
                font-size: 1.2rem;
            }
        }

        .turn-on {
            width: 100%;
            filter: drop-shadow(0 0 2rem $p-color);
            
            h4 {
                background-color: $p-color;
            }
        }
    }

    #top-separator {
        height: $name-height;
    }

    ul {
        justify-content: space-around;
        height: 100%;
    }
}



@media (max-width: 799px){ 
    #sidebar-component {
        display: none;
    }
}