@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Bebas+Neue&family=Lato:wght@300&family=PT+Sans&display=swap');

$font-name:'Bebas Neue', cursive;
$font-h: 'Arimo', sans-serif;
$font-p: 'PT Sans', sans-serif;
$p-color: white;
$h-color: red;
$flag-black: black;
$flag-blue: blue;
$ws-green: #42BC51;
$name-height: 20vh;

.App {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display:flex;
    flex-direction: row;
    
    * {
        display: flex;
        margin: 0;
        padding: 0;
        color: $p-color;
        box-sizing: border-box;
    }

    h1, h2, h3, h4, h5 {
        color: $h-color;
        font-family: $font-h
    }

    p {
        color: $p-color;
        font-family: $font-p
    }
}

@import './components/name.scss';
@import './components/sidebar.scss';
@import './components/main.scss';
@import './components/screenitem.scss';
@import './components/home.scss';
@import './components/project.scss';
@import './components/contact.scss';
@import './components/certificate.scss';
@import './components/experience.scss';
@import './components/sectionTitle.scss';